:root {
    --main-bg-color: #f4f4f4;
    --header-color: #4c2c82;
    --footer-bg-color: #0c1631;
    --footer-text-color: #ddd;
    --white: #fff;
    --gray: #ddd;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--white);
}

.cabecalho {
    background-color: var(--white);
    padding: 20px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    max-width: 70px;
    margin-right: 20px;
}

.cabecalho h1 {
    font-family: "Black Han Sans", system-ui;
    font-weight: 800;
    font-size: 2rem;
    color: var(--header-color);
}

.criadores {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px auto;
    max-width: 1000px;
    padding: 0 20px;
}

.creador {
    text-align: center;
}

.photo-placeholder {
    width: 120px;
    height: 120px;
    background-color: var(--gray);
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden; 
}

.photo-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.creador p {
    font-size: 16px;
    color: #333;
}

footer {
    background-color: var(--footer-bg-color);
    color: var(--white);
    padding: 70px 0;
    text-align: center;
}

footer p {
    margin: 5px 0;
    font-size: 18px;
}

.informacoes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.rodape {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
}

.rodape img {
    width: 30px;
    height: 30px;
}

@media (max-width: 768px) {
    .criadores {
        flex-direction: column;
    }

    .rodape img {
        width: 25px;
        height: 25px;
    }
}
