main {
    max-width: 100%;
}

body {
    background-color: #0c1631;
}

header {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    height: 5rem;
    width: 80rem;
    border: 10px solid white;
    background-color: #FFFFFF; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.usuario {
    display: flex;
    align-items: center;
}

a img {
    display: flex;
    align-items: center;
    max-width: 5rem;
}

a {
    text-decoration: none;
}

.hBotao {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: small;
    padding: 0.188rem;
    display: inline-block;
    align-content: center;
    padding: 0.313rem 2rem;
    margin: 0.313rem;
    color: #FFFFFF;
    background-color: #1a1a3a;
    text-decoration: none; 
    border-radius: 5rem;
    text-align: center;
}


.logo {
    margin-left: 2rem;
}

#tabela h1 {
    font-family: "Black Han Sans", system-ui;
    font-weight: 800;
    font-style: normal;
    color: #FFFFFF;
    font-size: 8rem;
    margin-top: 12rem;
    margin-left: 8.5rem;
}

#tb {
    margin-top: 8rem;
}


main {
    display: flex;
    flex-direction: row;
}

main img {
    margin-top: 3.5rem;
    margin-left: 50rem;
    margin-right: 2.5rem;
    max-width: 28rem;
    max-height: 28rem;
    position: absolute;
}

hr {
    max-width: 70rem;
    margin-top: 2.5rem;
    border: 0.5rem solid white;
}

p {
    display: flex;
    justify-content: center;
    color: white;
    font-family: "Nokora", sans-serif;
}

