:root {
    --main-bg-color: #0c1631;
    --branco: #fff;
  }

header {
    display: flex;
    align-items: flex-start;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--main-bg-color); 
    color: var(--branco);
}

main {
    max-width: 100%;
}

.container {
    display: flex;
    align-items: center;
    height: 5rem;
    width: 100%;
    border: 0.5rem solid var(--branco);
    border-right: 3rem solid var(--branco);
    background-color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.usuario {
    display: flex;
    justify-content: center;
    align-items: center;
}

.usuario img{
    max-width: 5rem;
}

a img {
    display: flex;
    align-items: center;
    max-width: 5rem;
}

a {
    text-decoration: none;
}

.hBotao {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: small;
    display: inline-block;
    align-content: center;
    padding: 0.313rem 2rem;
    color: var(--branco);
    background-color: var(--main-bg-color);
    text-decoration: none; 
    border-radius: 5rem;
    text-align: center;
}


.logo {
    margin-left: 2rem;
}

.logo img {
    max-width: 6rem;
}

#tabela h1 {
    font-family: "Black Han Sans", system-ui;
    font-weight: 800;
    font-style: normal;
    color: var(--branco);
    font-size: 8rem;
    margin-top: 12.5rem;
    margin-left: -150px;
}

#tb {
    margin-top: 8rem;
}


main {
    display: flex;
    justify-content: center;
}

main img {
    margin-top: 3.5rem;
    margin-left: 50%;
    margin-right: 2.5rem;
    max-width: 28rem;
    max-height: 28rem;
    position: absolute;
}

hr {
    max-width: 70rem;
    margin-top: 2.5rem;
    border: 0.5rem solid var(--branco);
}

p {
    display: flex;
    justify-content: center;
    color: var(--branco);
    font-family: "Nokora", sans-serif;
}